/* Other */

.bg-darkblue {
    background-color: #081324 !important;
}



.line1 {
    height: 1px;
    background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
    margin-top: 1.5rem;
}


.text-justify {
    text-align: justify;
}

.rounded-0 {
    border-radius: 0 !important;
}

.bg-white {
    background-color: #FFF !important;
}

.newMarineMobile2019 .col-6 {
    border: 0;
    padding: 0 15px;
}


/* Buttons */

.btn-white {
    background: #FFF;
    text-align: center;
    color: #003145;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
}

.product-marine.newMarineMobile2019 {
    background: url(https://i.ibb.co/kJmYdKm/Home-marine-mobile.png);
    background-position-y: -100px;
    background-size: cover;
}

.product-marine.newMarineMobile2019.blank {
    background: white;
}

.btn-detail-outline-blue {
    border: 2px solid #003399;
    color: #003399;
    background-color: #FFF;
    padding: 5px 10px;
}


/* ============ Hero ============== */
.headline.headline-mobile.page-gallery {
    background: url(../img/hero/gallery.jpg);
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;

}

.headline.headline-mobile.page-list {
    background: url(../img/hero/list-product.jpg);
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;

}

.headline.headline-mobile.page-accessories {
    background: url(../img/hero/accessories.jpg);
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;

}

.headline.headline-mobile.page-ocean {
    background: linear-gradient(180deg, rgba(8, 19, 36, 0) 0%, #081324 120%, #081324 100%), url('../img/hero/ocean.jpg');
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;

}

.headline.headline-mobile.page-detail-small {
    background: url(../img/hero/detail-sm.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0;
}

.headline.headline-mobile.page-detail-medium {
    background: url(../img/hero/detail-md.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0;
}

.headline.headline-mobile.page-detail-big {
    /* background: url(../img/hero/detail-big.png); */
    background: linear-gradient(180deg, rgba(8, 19, 36, 0) 0%, #030A11 100%), url(../img/hero/detail-big.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0;
}


/* Index */


/* .newMarineMobile2019 .headline {
    background: #1e1e1e url(https://i.ibb.co/kJmYdKm/Home-marine-mobile.png) no-repeat;
    background-size: 100%;

} */

.newMarineMobile2019 .headline p {
    font-size: 12px;
}

.product-list-marine.cardGroupMarine2019 .btn-modDarkBlue {
    border-radius: 0;
    color: #FFF;
    background: #003145;
    display: inline-block;
    font-size: 18px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 3px 10px;
    text-transform: uppercase;
    transition: .2s all ease-in;
}

.product-list-marine.cardGroupMarine2019 .btn-modDarkBlue:hover {
    color: #FFF;
    background: #393939;
}

.cardGroupMarine2019 .card {
    background-color: #FFF;
    border-radius: 3px;
    box-shadow: 16px 16px 48px rgba(0, 49, 69, 0.0994678);
    transition: 0.3s;
    width: 100%;
    margin-top: 2rem;
}

.cardGroupMarine2019 .card img {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.cardGroupMarine2019 .card .card-body {
    padding: 25px 25px;
}

.cardGroupMarine2019 .card .card-body .card-inner {
    display: flex;
    justify-content: space-between;
}

.cardGroupMarine2019 .card .card-body .card-arrow {
    align-self: center;
}

.cardGroupMarine2019 .card .card-body p {
    color: #BDBDBD;
    margin-bottom: 5px;
    font-size: 10px;
}

.cardGroupMarine2019 .card .card-body h5 {
    color: #333;
    margin: 0;
    font-size: 18px;
}

.cardGroupMarine2019 .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.hero.hero-about:before {
    content: "";
    background: linear-gradient(180deg, rgba(8, 19, 36, 0.6) 0%, rgba(8, 19, 36, 0.6) 100%);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.hero-about .vector-top {
    position: absolute;
    width: 50%;
    left: -20px;
    top: -25px;
    z-index: -1;
}

.hero-about .vector-bottom {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 50%;
    z-index: -1;
}

.feature {
    /* counter-reset: test 20; */
    position: relative;
}

.feature li {
    list-style: none;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.feature-inner {
    padding: 0 10px;
}

.feature .feature-inner h6 {
    font-size: 14px;
    color: #FFF;
    margin-bottom: 10px;
}

.feature li .feature-inner p {
    font-size: 12px;
    color: #F5F5F5;
    text-transform: capitalize;
}

.feature li:before {
    /* counter-increment: test;
    content: counter(test); */
    /* background-image: url(https://i.ibb.co/JFwXvmp/01.png); */
    content: "";
    width: 50px;
    height: 50px;
    border: 3px solid #FFF;
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 50px;
    margin: 0 auto 10px auto;
    background: #FFF;
    color: #000;
    transition: all ease-in-out .3s;
    cursor: pointer;
    /* background-image: url(https://i.ibb.co/JFwXvmp/01.png);
    background-repeat: no-repeat;
    background-size: contain; */
}

.feature li:nth-child(1)::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f3ed";
}

.feature li:nth-child(2)::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f3fd";
}

.feature li:nth-child(3)::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f24e";
}

.feature li:nth-child(4)::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f4c0";
}

.feature li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #000;
    top: 25px;
    left: -50%;
    z-index: -999;
    transition: all ease-in-out .3s;
}

.feature li:first-child:after {
    content: none;
}

.feature li:after {
    background: #FFF;
}

.section-feature .caption-middle {
    top: 20%;
}

.product-list.section-news .topHeading {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    /* text-align: center; */
}

.product-list.section-news .imgTopHeading {
    border-radius: 8px;
    margin-bottom: 50px;
}

.product-list.section-news .topHeading p,
.product-list.section-news .topHeading h2 {
    text-align: center;
}

.product-marine .product-list.section-news {
    /* background: #FFF; */
    background-size: 100%;
}

.product-list.section-news h2,
.product-list.section-news p {
    color: #081324;
}

.cardNewsMarine .card {
    background-color: #FFF;
    border-radius: 12px;
    box-shadow: 16px 16px 48px rgba(16, 113, 184, 0.09);
    transition: 0.3s;
    width: 100%;
}

.cardNewsMarine .card img {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.cardNewsMarine .card .card-body {
    padding: 25px 25px;
}

.cardNewsMarine .card .card-body .dateNews {
    color: #333;
    font-size: 12px;
}

.cardNewsMarine .card .card-body h5 {
    color: #333;
    margin: 0;
    font-size: 18px;
    margin: 10px 0;
}

.cardNewsMarine .card .card-body p {
    color: #BDBDBD;
    margin-bottom: 5px;
    font-size: 14px;
}

.cardNewsMarine .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cardNewsMarine .swiper-pagination {
    position: relative;
    margin-top: 50px;
}

.cardNewsMarine .swiper-pagination-bullet {
    border-radius: 40px;
    height: 8px;
    width: 26px;
}

.cardNewsMarine .swiper-pagination-bullet.swiper-pagination-bullet-active.swiper-pagination-bullet-active-main {
    background: #071324;
}



/*====== Gallery ======*/

.newMarineMobile2019 .section-gallery {
    background: rgba(16, 113, 184, 0.06);
}

.newMarineMobile2019 .section-gallery h2 {
    color: #333;
}

.newMarineMobile2019 .section-gallery .gallery-item {
    margin-top: 1.5rem;
}

.newMarineMobile2019 .section-gallery .gallery-item {
    text-align: start;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(108, 108, 108, 0.35);
    border-radius: 4px;
    transition: .3s;
}

.newMarineMobile2019 .section-gallery .gallery-item:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.newMarineMobile2019 .section-gallery .gallery-item .gallery-content {
    padding: 15px;
}

.newMarineMobile2019 .section-gallery .gallery-item .gallery-content h3 {
    font-size: 10px;
    font-weight: 600;
    color: #000;
}

.newMarineMobile2019 .section-gallery.section-badge .gallery-item .gallery-content {
    position: absolute;
    bottom: 0;
}

.newMarineMobile2019 .section-gallery.section-badge .gallery-item .gallery-content .badge {
    background: #0048B9;
    border-radius: 4px;
    padding: 5px 10px;
    line-height: 17.29px;
}

.newMarineMobile2019 .section-gallery.section-badge .gallery-item .gallery-content h3 {
    margin-top: .5rem;
    color: #FFF;
    font-weight: 600;
    text-transform: capitalize;
}

.newMarineMobile2019 .section-gallery .topHeading p {
    color: rgba(8, 19, 36, 0.6);
}


/* ====== List product ====== */

.section-engine .gallery-item {
    border-radius: 0 !important;
}

.section-engine .gallery-item .gallery-img {
    text-align: center;
    background: linear-gradient(to top, transparent 50%, rgba(0, 51, 153, 0.08) 50%);
}

.section-engine .gallery-item .productName {
    color: rgba(0, 51, 153, 1) !important;
}


/* ======= Technologoy ======= */
.section-tab-technology .tabs {
    display: inline-block;
    background-color: #081324;
    text-align: center;
}

.section-tab-technology .tabs__button {
    padding: 15px 10px;
    border: none;
    background: none;
    background-color: #003145;
    color: #FFF;
    font-weight: bold;
    box-shadow: 0px 4px 20px rgb(0 0 0 / 8%);
    margin: 10px 10px;
    position: relative;
    width: 40%;
}

.section-tab-technology .tabs__button:hover {
    background-color: #003145;
    color: #FFF;
}

.section-tab-technology .tabs__button--active {
    background-color: #003145;
    color: #FFF;
}

.section-tab-technology .tabs__button--active::after {
    position: absolute;
    content: "";
    height: 10px;
    width: 20%;
    background-color: red;
    top: 0;
    left: 0;
}

.section-tab-technology .tab-content {
    display: none;
    border-top: none;
}

.section-tab-technology .tab-content .tab-text {
    background-color: #16263d;
    padding: 30px;
}

.section-tab-technology .tab-content .tab-image {
    /* display: flex;
    align-items: flex-end; */
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-tab-technology .tab-content .tab-image img {
    width: 80%;
}

.section-tab-technology .tab-content .tab-image h1 {
    color: rgba(255, 255, 255, 0.05);
    font-weight: bold;
    font-size: 48px;
    margin: 0;
    position: absolute;
    right: 10%;
    bottom: 10%;
}

.section-tab-technology .tab-content .section-technology {
    background: #081324 !important;

}

.section-tab-technology .tab-content--active {
    display: block;
    animation-name: tabsAnim;
    animation-duration: 1s;
}

.section-tab-technology .tab-content__caption {
    margin-top: 0;
    margin-bottom: 16px;
}

@keyframes tabsAnim {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.section-tab-technology .tab-content__text {
    margin: 0;
}

.section-technology .caption-bottom {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) -1.41%, rgba(255, 255, 255, 0.28) 22.88%, rgba(255, 255, 255, 0.5) 39.79%, rgba(255, 255, 255, 0.51) 62.86%, rgba(255, 255, 255, 0.348947) 82.24%, rgba(255, 255, 255, 0) 100%);
    padding: 50px 0;
    color: rgba(51, 51, 51, 0.8);
}

.section-technology .caption-bottom h3 {
    font-weight: bold;
}


/* ======= Ocean ======= */

.border-box-ocean {
    border: 3px solid #FFFFFF;
    padding: 1.5rem;
}

.border-box-ocean .inner-text h3 {
    font-size: 20px;
}

.border-box-ocean ol {
    font-weight: 600;
}

.border-box-ocean ol li {
    line-height: 20px;
}

.border-box-ocean .inner-text h3 {
    margin: 0;
}


/* ======= Detail Small ======= */


.newMarineMobile2019 .product-prices {
    color: #333;
    padding: 0 0 50px 0;
}

.newMarineMobile2019 .product-prices.bg-darkblue {
    padding: 50px 0;
}

.newMarineMobile2019 .product-prices.bg-darkblue {
    color: #FFF;
}

.newMarineMobile2019 .product-prices .group-model {
    font-size: 22px;
    font-weight: 600;
}

.newMarineMobile2019 .product-prices .price {
    font-size: 26px;
}

.newMarineMobile2019 .product-prices .group-button {
    display: block;
}

.newMarineMobile2019 .product-prices .btn-outline-black {
    border: 1px solid #333;
    border-radius: 12px;
    width: 100%;
    transition: .3s;
    font-size: 14px;
    padding: 10px 15px;
}

.newMarineMobile2019 .product-prices .btn-outline-black:hover {
    color: #081324 !important;
    background: #fff !important;
}

.newMarineMobile2019 .product-prices .btn-outline-white {
    border: 1px solid #FFF;
    border-radius: 12px;
    width: 30%;
    transition: .3s;
}

.newMarineMobile2019 .product-prices .btn-outline-white:hover {
    color: #081324;
    background: #FFF;
    box-shadow: unset;
}



/* ======= Detail Medium ======= */
.tab-content .section-gallery.section-detail-md-tab {
    background: #081324 !important;
}

.tab-box.tab-detail-md .tabs__button {
    padding: 15px 30px;
    border: none;
    background: none;
    background-color: #1071B8;
    color: #FFF;
    font-weight: bold;
}

.tab-box.tab-detail-md .tabs__button:hover {
    background-color: #0032459c;
    color: #FFF;
}

.tab-box.tab-detail-md .tabs__button--active {
    background-color: #003145;
    color: #FFF;
}


.section-detail-md-tab .num.right h1 {
    text-align: end;
    margin: 0;
    color: rgba(255, 255, 255, 0.05);
    font-size: 72px;
}

.section-detail-md-tab .num.left h1 {
    text-align: start;
    margin: 0;
    color: rgba(255, 255, 255, 0.05);
    font-size: 72px;
}


.paging.paging-marine a {
    background: rgba(241, 241, 241, 0.8);
    color: #6E7684;
    border-radius: 4px;
    border: 0;
}

.paging.paging-marine a.active {
    background: #0048B9;
    color: #fff;
}


/* ======= Detail Big ======= */

.newMarineMobile2019 .section-feature .feature-icons {
    display: flex;
    justify-content: space-between;
}

.newMarineMobile2019 .section-feature .feature-icons a img {
    width: 50px;
}

.newMarineMobile2019 .section-feature .feature-description {
    padding: 1.25rem 15rem 3rem 15rem;
    border-bottom: .5px solid rgba(0, 0, 0, 0.5);
}

.tab-technology .feature-icons {
    display: flex;
    justify-content: center;
}

.tab-technology .feature-icons img {
    width: 50px;
}

.tab-technology .feature-icons a span {
    display: block;
    font-size: 8px;
    margin: .5rem 0;
    font-weight: bold;
}


.section-gallery-thumb .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.section-gallery-thumb .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-gallery-thumb .swiper-slide {
    background-size: cover;
    background-position: center;
}

.section-gallery-thumb .mySwiperThumb2 {
    height: 80%;
    width: 100%;
}

.section-gallery-thumb .mySwiperThumb {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.section-gallery-thumb .mySwiperThumb .swiper-slide {
    width: 25% !important;
    height: 100%;
    opacity: 0.4;
}

.section-gallery-thumb .mySwiperThumb .swiper-slide-thumb-active {
    opacity: 1;
}


/* ======= Tab ======= */

.tabs {
    display: flex;
    justify-content: center;
    background-color: #f1f1f1;
}

.tabs__button {
    padding: 15px 30px;
    border: none;
    background: none;
    background-color: #f1f1f1;
    color: #0F192A;
    font-weight: bold;
}

.tabs__button:hover {
    background-color: #0032459c;
    color: #FFF;
}

.tabs__button--active {
    background-color: #003145;
    color: #FFF;
}

.tab-content {
    display: none;
    border-top: none;
}

.tab-content .section-gallery {
    background: #fff !important;
}

.tab-content--active {
    display: block;
    animation-name: tabsAnim;
    animation-duration: 1s;
}

.tab-content__caption {
    margin-top: 0;
    margin-bottom: 16px;
}

@keyframes tabsAnim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.tab-content__text {
    margin: 0;
}

/* Slider Feature */

.cardUXFeature .card {
    border-radius: 12px;
    width: 100%;
}

.cardUXFeature .card img {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.cardUXFeature .card .card-body {
    padding: 0;
}

.cardUXFeature .card .card-body .dateNews {
    color: #333;
    font-size: 12px;
}

.cardUXFeature .card .card-body h5 {
    color: #FFF;
    margin: 0;
    font-size: 18px;
    margin: 10px 0;
}

.cardUXFeature .card .card-body p {
    color: rgba(255, 255, 255, 0.6);
    ;
    margin-bottom: 5px;
    font-size: 14px;
}

.cardUXFeature .swiper-pagination {
    position: relative;
    margin-top: 50px;
}

.cardUXFeature .swiper-pagination-bullet {
    border-radius: 40px;
    height: 8px;
    width: 26px;
}

.cardUXFeature .swiper-pagination-bullet {
    background: #FFF;
}

.cardUXFeature .swiper-pagination-bullet.swiper-pagination-bullet-active.swiper-pagination-bullet-active-main {
    background: #FFF;
}